<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet/less" type="text/css" href="css/account.less">
        <%- include('parts/head'); %>
        <title>Своя игра – <%- user.user_login %></title>
    </head>
    <body>
        <%- include('parts/header', {subtitle: "Аккаунт"}) %>
        <main>
            <script src="scripts/account.js" type="text/javascript"></script>
            <div id="userInfo">
                <div><%- user.user_login %></div>
                <div><span><%- user.user_id %></span><span id="userRole"><%- function(role) {
                    switch (role) {
                        case 'user':
                            return "";
                        case 'editor':
                            return "(Редактор)";
                        case 'admin':
                            return "(Админ)";
                    }
                }(user.user_role); %></span></div>
                <img src="images/default_avatar.jpg">
                <div id="menu">
                    <button id="exitButton" onclick="
                        document.cookie = 'jwt=;max-age=-1;path=/'
                        location.href = 'account/login'
                    ">Exit</button>
                </div>
            </div>
            <div id="content">
                <input id="setsSelector" name="page" type="radio" checked/>
                <label for="setsSelector">Sets</label>
                <input id="categoriesSelector" name="page" type="radio"/>
                <label for="categoriesSelector">Categories</label>
                <div class="divider"></div>
                <div id="sets">
                    <%- include('parts/setsList', {
                        displayAuthor: false,
                        sets: sets,
                        userId: user.user_id
                    }) %>
                    <div class="divider"></div>
                    <button id="createSetButton" class="createButton" onclick="location.href='sets/new'">Create new set</button>
                </div>
                <div id="categories">
                    <%- include('parts/categoriesList', {
                        user: {
                            id: user.user_id
                        },
                        categories: categories,
                        addTo: false,

                        displayAuthor: false
                    }) %>
                    <div class="divider"></div>
                    <button id="createCategoryButton" class="createButton" onclick="createCategory()">Create new category</button>
                </div>
                
            </div>
        </main>
    </body>
</html>