<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet/less" type="text/css" href="css/editor.less">
        <%- include('parts/head'); %>
        <title>Своя игра – Главная</title>
    </head>
    <body>
        <%- include('parts/header', {subtitle: "Text"}) %>
        <% if (canEdit) { %>
            <script src="scripts/setEditor.js" type="text/javascript"></script>
        <% } %>

        <main class="editor">
            <% if (edit == "info") { %>
                <%- include('parts/setInfoEditor', {id: set.set_id}) %>
            <% } else { %>
                <div id="setInfo">
                    <div id="setHeader">
                        <span id="setTitle"><%- set.set_name %></span>
                        <span id="setId"><%- set.set_id %></span>
                    </div>
                    <div class="divider"></div>
                    <span id="setDescription">
                        <%- set.set_description %>
                    </span>
                    <% if (canEdit) { %>
                        <button id="editButton" onclick="location.href = location.href.split('?')[0] + '?edit=info'">Edit</button>
                    <% } %>
                </div>
            <% } %>

            <div>
                <% for( let i = 0; i < rounds.length; i++ ) { %>
                    <% let round = rounds[i].round %>
                    <% let categories = rounds[i].categories %>
                    <div class="round">
                        <label class="roundHeader" for="toggle_<%- i %>">
                            <% if (round.round_name) { %>
                                <span class="roundName">
                                    <%= round.round_name %>
                                </span>
                            <% } else { %>
                                <span class="roundNumber">
                                    Round №
                                    <%= round.round_number %>
                                    <%= round.round_description %>
                                </span>
                            <% } %>
                        </label>
                        <input id="toggle_<%- i %>" type="checkbox">
                        <ul>
                            <% if (categories.length == 0) { %>
                                <div>Empty round</div>
                            <% } %>
                            <% for( let category of categories ) { %>
                                <li>
                                    <a href="categories/<%= category.category_id %>"><%= category.category_name %></a>
                                    <% if (canEdit) { %>
                                        <button onclick="removeCategory('<%- set.set_id %>', '<%- round.round_number %>', '<%- category.category_id %>')">Remove</button>
                                    <% } %>
                                </li>
                            <% } %>
                            <% if (canEdit) { %>
                                <a href="sets/<%= set.set_id %>/<%= rounds[i].round.round_number %>/add">Add a category</a>
                            <% } %>
                        </ul>
                    </div>
                <% } %>
            </div>
        </main>
    </body>
</html>