<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet/less" type="text/css" href="css/editor.less">
        <%- include('parts/head'); %>
        <title>Своя игра – <%- set.set_name %></title>
    </head>
    <body>
        <%- include('parts/header', {subtitle: "Набор", userIcon: userIcon}) %>
        <script>var set_id = +'<%- set.set_id %>'</script>
        
        <% if (canEdit) { %>
            <script src="scripts/setEditor.js" type="text/javascript"></script>
        <% } %>

        <main class="editor">
            <% if (edit == "info") { %>
                <%- include('parts/setInfoEditor', {id: set.set_id}) %>
            <% } else { %>
                <div id="setInfo">
                    <div id="setHeader" class="header">
                        <span id="setTitle" class="title"><%- set.set_name %></span>
                        <span id="setId" class="id"><%- set.set_id %></span>
                    </div>
                    <div class="divider"></div>
                    <span id="setDescription">
                        <%- set.set_description %>
                    </span>
                    <% if (canEdit) { %>
                        <button id="editButton" onclick="edit('info')">Изменить</button>
                    <% } %>
                </div>
            <% } %>

            <div>
                <% for( let i = 0; i < rounds.length; i++ ) { %>
                    <% let round = rounds[i].round %>
                    <% let categories = rounds[i].categories %>
                    <div class="round">
                        <label class="roundHeader" for="toggle_<%- i %>">
                            <% if (edit == round.round_number) { %>
                                <span id="roundName<%- i + 1 %>" class="roundName" contenteditable><%= round.round_name ? round.round_name : "Default name" %></span>
                            <% } else if (round.round_name) { %>
                                <span class="roundName">
                                    <%= round.round_name %>
                                </span>
                            <% } else { %>
                                <span class="roundNumber">
                                    Раунд №
                                    <%= round.round_number %>
                                    <%# round.round_description %>
                                </span>
                            <% } %>
                            <% if (edit == round.round_number && canEdit) { %>
                                <button id="deleteRoundButton" onclick="deleteRound(+'<%- round.round_number %>')">Удалить</button>
                                <button id="saveRoundButton" onclick="saveRoundName(+'<%- round.round_number %>')">Сохранить</button>
                            <% } else if (canEdit) { %>
                                <button id="editRoundButton" onclick="edit(+'<%- round.round_number %>')">Изменить</button>
                            <% } %>
                        </label>
                        <input id="toggle_<%- i %>" type="checkbox">

                        <ul>
                            <% if (categories.length == 0) { %>
                                <div>Empty round</div>
                            <% } %>
                            <% for( let category of categories ) { %>
                                <li>
                                    <a href="categories/<%= category.category_id %>"><%= category.category_name %></a>
                                    <% if (canEdit) { %>
                                        <button onclick="removeCategory('<%- set.set_id %>', '<%- round.round_number %>', '<%- category.category_id %>')">Remove</button>
                                    <% } %>
                                </li>
                            <% } %>
                            <% if (canEdit) { %>
                                <a href="sets/<%= set.set_id %>/<%= rounds[i].round.round_number %>/add">Add a category</a>
                            <% } %>
                        </ul>
                    </div>
                <% } %>
                <% if (canEdit) { %>
                    <button id="addRoundButton" onclick="addRound()">Добавить раунд</button>
                <% } %>
            </div>
            <% if (canEdit) { %>
                <div>
                    <button id="deleteButton" onclick="deleteSet('<%- set.set_id %>')">Удалить набор</button>
                </div>
            <% } %>
        </main>
    </body>
</html>