<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet/less" type="text/css" href="css/style.less">
        <%- include('parts/head'); %>
        <title>Своя игра – Главная</title>
    </head>
    <body>
        <%- include('parts/header', {subtitle: "Text"}) %>
        <main>
            <table>
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Set author</th>
                </tr>
                <% for( let i = 0; i < sets.length; i++ ) { %>
                    <tr>
                        <td><%= sets[i].set_id %></td>
                        <td><%= sets[i].set_name%></td>
                        <td><%= sets[i].set_description %></td>
                        <td><%= sets[i].set_author_id%></td>
                    </tr>
                <% } %>
            </table>
        </main>
    </body>
</html>