<table>
    <colgroup>
        <col>
        <col>
        <col>
        <col>
    </colgroup>
    <% if (sets.length != 0) { %>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Описание</th>
            <% if (displayAuthor) { %>
                <th>Автор</th>
            <% } %>
        </tr>
    <% } else { %>
        <div>Здесь будут ваши наборы</div>
    <% } %>
    <% for( let i = 0; i < sets.length; i++ ) { %>
        <tr>
            <td><%= sets[i].set_id %></td>
            <td><a href="sets/<%- sets[i].set_id %>"><%- sets[i].set_name %></a></td>
            <td><%= sets[i].set_description %></td>
            <td>
                <% if (displayAuthor) { %>
                    <a href="account/<%- sets[i].user_login %>"><%- sets[i].user_login %></a>
                    <% if (userId == sets[i].set_author_id) { %>
                        <span class="you">(вы)</span>
                    <% } %>
                <% } %>
            </td>
        </tr>
    <% } %>
</table>